/* SECTION 3 */
.section-3 {
    padding-block: 80px;
}

.section-3 .img-container {
    background-image: url('../images/services/Services-main-img.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 80vh;
    height: 80svh;
}


.section-4 .cardd {
    box-shadow: var(--shadow-card);
    background: #F1F7FF;
    border-radius: 12px;
}

.section-4 .cardd img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.section-4 .cardd .content {
    padding: 20px 30px;
}

.section-4 .cardd .content h6 {
    font-size: clamp(1.25rem, 1rem + 0.75vw, 1.625rem);
    font-weight: 500;
}

.section-4 .cardd .content p {
    font-size: 16px;
}

.section-4 .cardd .arrow {
    width: 44px;
    height: 44px;
    display: grid;
    place-items: center;
    text-decoration: none;
    background: #00357A;
    color: white;
    border-radius: 50%;
    rotate: -45deg;
}

/*  */

.section-5 {
    padding-block: 100px;
}

/*  */
.section-6 {
    padding-bottom: 100px;
}

.section-6 .btn {
    box-shadow: 0 1px 2px rgba(4, 8, 54, 0.12);
    border: 1px solid rgba(4, 8, 54, 0.12);
    padding: 7px 20px;
    border-radius: 999px;
    margin-top: 20px;
}

.section-6 .cardd {
    align-items: start;
}

.section-6 .cardd img {
    width: clamp(40px, 4vw, 58px);
}

.section-6 .cardd:first-child {
    padding-bottom: 20px;
}

.section-6 .cardd:not(:first-child) {
    padding-block: 20px;
}

.section-6 .cardd:not(:last-child) {
    border-bottom: 1px solid rgb(150, 150, 150);
}


@media screen and (max-width : 1200px) {
    .section-3 .img-container {
        height: 400px;
    }
}



@media screen and (max-width : 992px) {
    .section-3 .img-container {
        height: 350px;
    }
}


@media screen and (max-width : 786px) {
    .section-3 .img-container {
        height: 300px;
    }
}

@media screen and (max-width : 576px) {
    .section-3 .img-container {
        height: 250px;
    }
}