/* SECTION 3 */
.section-3 {
    padding-top: 100px;
}

.section-3 .pointers .point p {
    margin-bottom: 0px;
}

/*  */

.section-4 {
    padding-top: 100px;
}

.section-4 .cardd {
    box-shadow: var(--shadow-card);
    background: linear-gradient(360deg, rgb(0 53 122) 0%, #0059cd 100%);
    border-radius: 12px;
    padding: 20px;
    color: white;
}


.section-4 .cardd .img-container {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
}

.section-4 .cardd img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-4 .cardd .content {}

.section-4 .cardd .content h3 {
    font-size: clamp(1.125rem, 1rem + 0.5vw, 1.375rem);
    font-weight: 500;
}

.section-4 .cardd .content p {
    font-size: 16px;
}

.section-4 .cardd .arrow {
    width: 3.5vw;
    height: 3.5vw;
    display: grid;
    place-items: center;
    text-decoration: none;
    background: #FF6036;
    color: white;
    border-radius: 50%;
    rotate: -45deg;
}

/*  */

.section-5 {
    padding-block: 100px;
}

/*  */
.section-6 {
    padding-bottom: 100px;
}

.section-6 .btn {
    box-shadow: 0 1px 2px rgba(4, 8, 54, 0.12);
    border: 1px solid rgba(4, 8, 54, 0.12);
    padding: 7px 20px;
    border-radius: 999px;
    margin-top: 20px;
}

.section-6 .cardd {
    align-items: start;
}

.section-6 .cardd img {
    width: clamp(40px, 4vw, 58px);
}

.section-6 .cardd:first-child {
    padding-bottom: 20px;
}

.section-6 .cardd:not(:first-child) {
    padding-block: 20px;
}

.section-6 .cardd:not(:last-child) {
    border-bottom: 1px solid rgb(150, 150, 150);
}

/*  */
.widning-image-section .img-container {
    background-image: url('../images/crm-erp/Webapplicationdev.jpg');
}