/* BANNNER */


/*  */
.section-2 {
    padding-block: 100px;
}

/*  */
.section-3 {
    padding-block: 100px;
}

.feature-card {
    background: #f1f2fc;
    /* light green shade */
    transition: all 0.3s ease;
    cursor: pointer;
}

.feature-card:hover {
    background: #c9c9fb;
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.feature-card p{
    font-size: 14px;
}

.icon-box {
    width: 50px;
    height: 50px;
    background: #ededfc;
    border-radius: 12px;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.icon-box img {
    width: 35px;
    height: 50px;
    object-fit: contain;
}

.badge.bg-success-subtle {
    background: #e7fbdc;
    color: #198754;
}

/*  */
.section-4 {
    padding-bottom: 100px;
    /* background: #040836; */
    /* color: white; */
}

.section-4 h6 {
    font-size: 1.3vw;
    font-weight: 600;
}

.section-4 p {
    font-size: 0.9vw; 
}


.section-4 .image-container {
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.section-4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.4s linear;
    scale: 1;
}

.section-4 .cardd:hover img {
    scale: 1.2;
}